<template>
  <div class="wrapper-content wrapper-content--fixed">
    <section>
      <div class="container">
        <table>
          <thead>
            <tr>
              <th @click="sort('name')">Name &#8595;</th>
              <th @click="sort('phone')">User phone &#8595;</th>
              <th @click="sort('website')">Website &#8595;</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in usersSort" :key="user.id">
              <td>{{ user.name }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.website }}</td>
            </tr>
          </tbody>
        </table>
        <p>debug sort: {{ currentSort }}, dir: {{ currentSortDir }}</p>
      </div>
    </section>
    <section>
      <div class="contaner">
        <div class="button-list">
          <div class="btn btnPrimary" @click="prevPage">&#8592;</div>
          <div class="btn btnPrimary" @click="nextPage">&#8594;</div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        users: [],
        currentSort: 'name',
        currentSortDir: 'asc',
        page: {
          current: 1,
          length: 3,
        },
      };
    },
    created() {
      axios
        .get('https://jsonplaceholder.typicode.com/users')
        .then(res => {
          const req = res.data;
          this.users = req;
        })
        .catch(err => {
          console.log(err);
        });

      // this.users = [
      //   // { id: 1, name: 'Jack', age: 22, gender: 'male' },
      //   // { id: 2, name: 'Alex', age: 24, gender: 'male' },
      // ];
    },
    computed: {
      usersSort() {
        return this.users
          .sort((a, b) => {
            let mod = 1;
            if (this.currentSortDir === 'desc') mod = -1;
            if (a[this.currentSort] < b[this.currentSort]) return -1 * mod;
            if (a[this.currentSort] > b[this.currentSort]) return 1 * mod;
            return 0;
          })
          .filter((row, index) => {
            let start = (this.page.current - 1) * this.page.length;
            let end = this.page.current * this.page.length;
            if (index >= start && index < end) return true;
          });
      },
    },

    methods: {
      sort(e) {
        if (e === this.currentSort) {
          this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
        }
        this.currentSort = e;
      },
      prevPage() {
        if (this.page.current > 1) this.page.current -= 1;
      },
      nextPage() {
        if (this.page.current * this.page.length < this.users.length) this.page.current += 1;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .button-list {
    width: 100%;
    text-align: center;
    .btn {
      border-radius: 60px;
      margin: 0 20px;
    }
  }
</style>
