<template>
  <div class="wrapper-content wrapper-content--fixed">
    <section>
      <div class="container">
        <h1>Home page</h1>
       
      </div>
    </section>
  </div>
</template>

<script>
  
</script>
